[Unit]
Description=Incus - Daemon (unix socket)

[Socket]
ListenStream=/var/lib/incus/unix.socket
SocketGroup=incus
SocketMode=0660
Service=incus.service

[Install]
WantedBy=sockets.target
