[Unit]
Description=Incus - Startup check
After=incus.socket incus.service
Requires=incus.socket

[Service]
Type=oneshot
ExecStart=/opt/incus/lib/systemd/incus-startup start
ExecStop=/opt/incus/lib/systemd/incus-startup stop
TimeoutStartSec=600s
TimeoutStopSec=600s
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
