[Unit]
Description=Incus - Daemon
After=network-online.target openvswitch-switch.service incus-lxcfs.service incus.socket
Requires=network-online.target incus-lxcfs.service incus.socket

[Service]
EnvironmentFile=-/etc/environment
EnvironmentFile=-/etc/default/incus
ExecStart=/opt/incus/lib/systemd/incusd --group incus $INCUS_OPTS --logfile /var/log/incus/incusd.log
ExecStartPost=/opt/incus/lib/systemd/incusd waitready --timeout=600
KillMode=process
TimeoutStartSec=600s
TimeoutStopSec=30s
Restart=on-failure
Delegate=yes
LimitNOFILE=1048576
LimitNPROC=infinity
TasksMax=infinity

[Install]
Also=incus-startup.service incus.socket
