Source: incus
Section: admin
Priority: optional
Maintainer: Zabbly ZFS builds <info@zabbly.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.6.2
Homepage: https://linuxcontainers.org
Rules-Requires-Root: no

Package: incus
Architecture: linux-any
Depends: ${misc:Depends},
  incus-base (= ${source:Version}),
  genisoimage,
  libnuma1,
  libpixman-1-0,
  librados2,
  librbd1,
  libseccomp2,
  libspice-server1,
  libusb-1.0-0,
  libusbredirparser1 | libusbredirparser1t64
Pre-Depends: ${misc:Pre-Depends}
Description: Incus - Container and virtualization daemon
 Incus provides the ability to run containers and virtual machines locally
 along with very flexible networking and storage akin to what's offered
 in a public cloud environment.
 .
 This package contains everything needed to run containers and VMs.
 .
 This build of Incus is provided for free by Zabbly.
 Zabbly can be contacted for commercial support and development on Incus.

Package: incus-base
Architecture: linux-any
Depends: ${misc:Depends},
  apparmor,
  attr,
  ca-certificates,
  dnsmasq-base,
  e2fsprogs,
  incus-client (= ${source:Version}),
  iproute2,
  nftables | iptables,
  iw,
  libacl1,
  libaio1 | libaio1t64,
  libapparmor1,
  libbsd0,
  libbtrfs0 | libbtrfs0t64,
  libcap2,
  libdevmapper1.02.1,
  libfuse3-3,
  libgcc-s1,
  libgnutls30,
  libgpgme11 | libgpgme11t64,
  libjson-glib-1.0-0,
  libnet1,
  libnftables1,
  libnl-3-200,
  libprotobuf-c1,
  libseccomp2,
  libselinux1,
  libsqlite3-0,
  libudev1,
  libuv1 | libuv1t64,
  rsync,
  gdisk,
  squashfs-tools,
  xdelta3,
  xz-utils
Recommends:
  nftables,
  iptables
Suggests:
  btrfs-progs,
  ceph-common,
  lvm2,
  zfsutils-linux | openzfs-zfsutils
Pre-Depends: ${misc:Pre-Depends}
Breaks: incus (<< ${source:Version}), incus-tools
Replaces: incus (<< ${source:Version}), incus-tools
Description: Incus - Container and virtualization daemon (container-only)
 Incus provides the ability to run containers and virtual machines locally
 along with very flexible networking and storage akin to what's offered
 in a public cloud environment.
 .
 This package contains only what's needed to run containers.
 .
 This build of Incus is provided for free by Zabbly.
 Zabbly can be contacted for commercial support and development on Incus.

Package: incus-client
Architecture: any
Recommends:
  sshfs
Suggests:
  bash-completion
Pre-Depends: ${misc:Pre-Depends}
Breaks: incus (<< ${source:Version})
Replaces: incus (<< ${source:Version})
Description: Incus - Command line client
 Incus provides the ability to run containers and virtual machines locally
 along with very flexible networking and storage akin to what's offered
 in a public cloud environment.
 .
 This package contains the command line client.
 .
 This build of Incus is provided for free by Zabbly.
 Zabbly can be contacted for commercial support and development on Incus.

Package: incus-extra
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Breaks: incus (<< ${source:Version})
Replaces: incus (<< ${source:Version})
Description: Incus - Extra tools
 Incus provides the ability to run containers and virtual machines locally
 along with very flexible networking and storage akin to what's offered
 in a public cloud environment.
 .
 This package contains the following additional command line tools:
  - distrobuilder
  - fuidshift
  - incus-benchmark
  - incus-migrate
  - incus-simplestreams
  - lxc-to-incus
 .
 This build of Incus is provided for free by Zabbly.
 Zabbly can be contacted for commercial support and development on Incus.

Package: incus-ui-canonical
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: incus
Description: Incus - Web interface (canonical)
 Incus provides the ability to run containers and virtual machines locally
 along with very flexible networking and storage akin to what's offered
 in a public cloud environment.
 .
 This package contains a web interface based on canonical/lxd-ui.
 .
 This build of Incus is provided for free by Zabbly.
 Zabbly can be contacted for commercial support and development on Incus.
