#!/usr/bin/make -f
%:
	dh $@

override_dh_dwz:
override_dh_strip:
override_dh_shlibdeps:
override_dh_installsystemd:
override_dh_install:
	dh_install
	dh_installsysusers

	# Handle incus-base
	mkdir -p debian/incus-base/opt/incus/ui/

	# Handle incus
	rm -R debian/incus-base/opt/incus/share/qemu
	rm -R debian/incus-base/opt/incus/agent
	rm debian/incus-base/opt/incus/bin/qemu-img
	rm debian/incus-base/opt/incus/bin/qemu-system-*
	rm debian/incus-base/opt/incus/bin/virtfs-proxy-helper
	rm debian/incus-base/opt/incus/bin/virtiofsd

	# Handle incus-client
	rm debian/incus-base/usr/bin/incus
	rm debian/incus-base/opt/incus/bin/incus
	rm -R debian/incus-base/opt/incus/share/completions
	rm -R debian/incus-base/opt/incus/share/locale
	rm -R debian/incus-base/usr/share/bash-completion
	rm -R debian/incus-base/usr/share/fish
	rm -R debian/incus-base/usr/share/locale
	rm -R debian/incus-base/usr/share/zsh

	# Handle incus-extra
	rm debian/incus-base/usr/bin/distrobuilder
	rm debian/incus-base/usr/bin/fuidshift
	rm debian/incus-base/usr/bin/incus-migrate
	rm debian/incus-base/usr/bin/incus-simplestreams
	rm debian/incus-base/usr/bin/lxc-to-incus
	rm debian/incus-base/opt/incus/bin/distrobuilder
	rm debian/incus-base/opt/incus/bin/fuidshift
	rm debian/incus-base/opt/incus/bin/incus-migrate
	rm debian/incus-base/opt/incus/bin/incus-simplestreams
	rm debian/incus-base/opt/incus/bin/lxc-to-incus

	# Handle incus-ui-canonical
	mkdir -p debian/incus-ui-canonical/opt/incus/
	mv debian/incus-base/opt/incus/ui-canonical debian/incus-ui-canonical/opt/incus/ui
